@model JNL.Model.Accident

@{
    ViewBag.Title = "典型事故详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background: #fff;
    }

    .row {
        margin-bottom: 0 !important;
    }

    .flow-text {
        margin-top: 0;
    }

    .top-text {
        text-align: center;
    }

    .accident-content {
        padding: 20px;
        border-top: 20px solid #26a69a;
        margin-bottom: 100px;
    }

    hr {
        border: none;
        border-top: 1px solid #d0d0d0;
    }
</style>

<h5 class="title">典型事故详情</h5>

<div class="accident-content z-depth-1">
    <div class="row top-text">
        <div class="col s3">
            <p>事故发生时间：</p>
            <p class="flow-text">@Model.OccurrenceTime</p>
        </div>
        <div class="col s3">
            <p>事故发生地点：</p>
            <p class="flow-text">@Model.Place</p>
        </div>
        <div class="col s3">
            <p>责任铁路局：</p>
            <p class="flow-text">@Model.ResponseBureau</p>
        </div>
        <div class="col s3">
            <p>责任机务段：</p>
            <p class="flow-text">@Model.ResponseDepot</p>
        </div>
    </div>
    <div class="row top-text">
        <div class="col s3">
            <p>事故类别：</p>
            <p class="flow-text">@Model.AccidentType</p>
        </div>
        <div class="col s3">
            <p>事故列车类别：</p>
            <p class="flow-text">@Model.LocoType</p>
        </div>
        <div class="col s3">
            <p>天气状况：</p>
            <p class="flow-text">@Model.WeatherLike</p>
        </div>
        <div class="col s3">
            <p>添加时间：</p>
            <p class="flow-text">@Model.AddTime</p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col s12">
            <p>事故概述：</p>
            <p class="flow-text">@Model.Summary</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <p>事故原因：</p>
            <p class="flow-text">@Model.Reason</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <p>补救措施：</p>
            <p class="flow-text">@Model.Help</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <p>责任追究：</p>
            <p class="flow-text">@Model.Responsibility</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <p>吸取到的教训：</p>
            <p class="flow-text">@Model.Lesson</p>
        </div>
    </div>
</div>
<div class="bottom"></div>
